* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}
body .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
body .container .img1 {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}
body .container .img1 .txt {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .img1 .txt h1 {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
  text-transform: uppercase;
}
body .container .img1 .txt h2 {
  font-size: 25px;
  font-weight: 900;
}
body .container .img1 .workImg {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .img1 .workImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body .container .main {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid red;
  margin-top: 10px;
  background-color: rgb(252, 252, 245);
}
body .container .main .header {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(214, 214, 197);
}
body .container .main .middle {
  width: 100%;
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .main .middle h3 {
  color: #22A800;
  font-weight: bold;
}
body .container .main .footer {
  width: 100%;
  height: 19%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .main .footer .buttonIconAndButton {
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFC500;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}
body .container .main .footer .buttonIconAndButton button {
  width: 80%;
  height: 50%;
  background-color: #FFC500;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
body .container .main .footer .buttonIconAndButton img {
  width: 20%;
}
body .container .deploymentMain {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
}
body .container .deploymentMain img {
  width: 35%;
  height: 80%;
}
body .container .deploymentMain .deployMentTxt {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
body .container .deploymentMain .deployMentTxt h1 {
  text-transform: uppercase;
}
body .container .deploymentMain .deployMentTxt p {
  font-weight: bold;
  opacity: 0.5;
}
body .container .weddingImgDivMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
body .container .weddingImgDivMain .weddingImg {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
body .container .weddingImgDivMain .weddingImg img {
  width: 50%;
  height: 500px;
  border: 1px solid #000;
}
body .container .weddingImgDivMain .blockQuote {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}
body .container .weddingImgDivMain .blockQuote p {
  text-transform: capitalize;
  font-weight: bold;
  opacity: 0.5;
}
body .container .weddingImgDivMain .weddingTxtDiv {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
body .container .weddingImgDivMain .weddingTxtDiv .line {
  width: 5%;
  height: 2px;
  background-color: #a6a3a3;
  margin-top: 10px;
}
body .container .weddingImgDivMain .weddingTxtDiv h1 {
  text-transform: capitalize;
}
body .container .weddingImgDivMain .weddingTxtDiv h5 {
  text-transform: capitalize;
  font-size: large;
  opacity: 0.6;
}
body .container .weddingImgDivMain .weddingTxtDiv h6 {
  font-size: medium;
  text-transform: capitalize;
  opacity: 0.4;
}
body .container .filterDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .filterDiv .title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  padding: 2% 0 2% 0;
  border-bottom: 2px solid rgb(214, 214, 197);
}
body .container .filterDiv .tags {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
}
body .container .filterDiv .tags .tag {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
body .container .passwordResteDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body .container .passwordResteDiv .inputResetDiv {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
body .container .passwordResteDiv .inputResetDiv input {
  width: 100%;
  height: 50%;
  border: 1px solid #d0cccc;
}
body .container .passwordResteDiv .inputResetDiv button {
  width: 100%;
  height: 50%;
  cursor: pointer;
  border: none;
  background-color: #034C51;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body .container .passwordResteDiv .passwordResteDivTittle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
body .container .infoDiv {
  width: 24%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 10px;
}
body .container .infoDiv .mailAndEmailDiv {
  width: 50%;
}
body .container .infoDiv .streetDiv {
  width: 50%;
}
body .container .infoDiv .socialIconsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container .infoDiv .socialIconsDiv svg {
  width: 50px;
  height: 50px;
  fill: #034C51;
  cursor: pointer;
}
body .container .iconDivs {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #b8eaee;
}
body .container .iconDivs .subDiv {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  font-family: monospace;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */